## Import Library

In [3]:
import pandas as pd

## Read Data

In [5]:
%%time
DATA_DIR = '../../data/'
DATA_FILE = DATA_DIR + 'all_hourly_data.h5'
vitals_labs = pd.read_hdf(DATA_FILE, 'vitals_labs')
vitals_labs_mean = pd.read_hdf(DATA_FILE, 'vitals_labs_mean')
interventions = pd.read_hdf(DATA_FILE, 'interventions')
patients = pd.read_hdf(DATA_FILE, 'patients')

CPU times: user 7.91 s, sys: 14 s, total: 21.9 s
Wall time: 58.6 s

In [7]:
vitals_labs.shape

(2200954, 312)

In [8]:
vitals_labs_mean.shape

(2200954, 104)

In [9]:
interventions.shape

(2200954, 14)

In [10]:
patients.shape

(34472, 28)

## Vitals

In [14]:
vitals_labs.head()

LEVEL2                                 alanine aminotransferase             \
Aggregation Function                                      count  mean  std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                             2.0  25.0  0.0
                              1                             0.0   NaN  NaN
                              2                             0.0   NaN  NaN
                              3                             0.0   NaN  NaN
                              4                             0.0   NaN  NaN

LEVEL2                                 albumin           albumin ascites       \
Aggregation Function                     count mean  std           count mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            2.0  1.8  0.0             0.0  NaN
                              1            0.0  NaN  NaN             0.0  NaN
                              2            0.0  NaN  NaN             0.0  NaN
                              3            0.0  NaN  NaN             0.0  NaN
                              4            0.0  NaN  NaN             0.0  NaN

LEVEL2                                     albumin pleural  ...  \
Aggregation Function                   std           count  ...
subject_id hadm_id icustay_id hours_in                      ...
3          145834  211552     0        NaN             0.0  ...
                              1        NaN             0.0  ...
                              2        NaN             0.0  ...
                              3        NaN             0.0  ...
                              4        NaN             0.0  ...

LEVEL2                                 white blood cell count  \
Aggregation Function                                      std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                      4.012837
                              1                           NaN
                              2                           NaN
                              3                           NaN
                              4                           NaN

LEVEL2                                 white blood cell count urine           \
Aggregation Function                                          count mean std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                 0.0  NaN NaN
                              1                                 0.0  NaN NaN
                              2                                 0.0  NaN NaN
                              3                                 0.0  NaN NaN
                              4                                 0.0  NaN NaN

LEVEL2                                    ph                 ph urine
Aggregation Function                   count  mean       std    count mean std
subject_id hadm_id icustay_id hours_in
3          145834  211552     0          9.0  7.40  0.147733      1.0  5.0 NaN
                              1          0.0   NaN       NaN      0.0  NaN NaN
                              2          3.0  7.26  0.000000      0.0  NaN NaN
                              3          0.0   NaN       NaN      0.0  NaN NaN
                              4          0.0   NaN       NaN      0.0  NaN NaN

[5 rows x 312 columns]

In [ ]:
vitals_labs_mean.head()

In [15]:
vitals_labs.columns

MultiIndex([(    'alanine aminotransferase', 'count'),
            (    'alanine aminotransferase',  'mean'),
            (    'alanine aminotransferase',   'std'),
            (                     'albumin', 'count'),
            (                     'albumin',  'mean'),
            (                     'albumin',   'std'),
            (             'albumin ascites', 'count'),
            (             'albumin ascites',  'mean'),
            (             'albumin ascites',   'std'),
            (             'albumin pleural', 'count'),
            ...
            (      'white blood cell count',   'std'),
            ('white blood cell count urine', 'count'),
            ('white blood cell count urine',  'mean'),
            ('white blood cell count urine',   'std'),
            (                          'ph', 'count'),
            (                          'ph',  'mean'),
            (                          'ph',   'std'),
            (                    'ph urine', 'count'),
            (                    'ph urine',  'mean'),
            (                    'ph urine',   'std')],
           names=['LEVEL2', 'Aggregation Function'], length=312)

In [ ]:
vitals_labs_mean.columns

## Interventions

In [12]:
interventions.head()

                                        vent  vaso  adenosine  dobutamine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            1     0          0           0
                              1            1     1          0           0
                              2            1     1          0           0
                              3            1     1          0           0
                              4            1     1          0           0

                                        dopamine  epinephrine  isuprel  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                0            0        0
                              1                1            0        0
                              2                1            0        0
                              3                0            0        0
                              4                0            0        0

                                        milrinone  norepinephrine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                 0               0
                              1                 0               0
                              2                 0               0
                              3                 0               0
                              4                 0               1

                                        phenylephrine  vasopressin  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0            0
                              1                     1            0
                              2                     1            0
                              3                     1            0
                              4                     1            0

                                        colloid_bolus  crystalloid_bolus  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0                  0
                              1                     0                  0
                              2                     0                  0
                              3                     0                  0
                              4                     0                  0

                                        nivdurations
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                    0
                              1                    0
                              2                    0
                              3                    0
                              4                    0

In [13]:
interventions.columns

Index(['vent', 'vaso', 'adenosine', 'dobutamine', 'dopamine', 'epinephrine',
       'isuprel', 'milrinone', 'norepinephrine', 'phenylephrine',
       'vasopressin', 'colloid_bolus', 'crystalloid_bolus', 'nivdurations'],
      dtype='object')

## Patients

In [6]:
patients.head()

,,,gender,ethnicity,age,insurance,admittime,diagnosis_at_admission,dischtime,discharge_location,fullcode_first,dnr_first,...,intime,outtime,los_icu,admission_type,first_careunit,mort_icu,mort_hosp,hospital_expire_flag,hospstay_seq,readmission_30
subject_id,hadm_id,icustay_id,,,,,,,,,,,,,,,,,,,,,
3,145834,211552,M,WHITE,76.526792,Medicare,2101-10-20 19:08:00,HYPOTENSION,2101-10-31 13:58:00,SNF,1.0,0.0,...,2101-10-20 19:10:11,2101-10-26 20:43:09,6.064560,EMERGENCY,MICU,0,0,0,1,0
4,185777,294638,F,WHITE,47.845047,Private,2191-03-16 00:28:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",2191-03-23 18:41:00,HOME WITH HOME IV PROVIDR,1.0,0.0,...,2191-03-16 00:29:31,2191-03-17 16:46:31,1.678472,EMERGENCY,MICU,0,0,0,1,0
6,107064,228232,F,WHITE,65.942297,Medicare,2175-05-30 07:15:00,CHRONIC RENAL FAILURE/SDA,2175-06-15 16:00:00,HOME HEALTH CARE,1.0,0.0,...,2175-05-30 21:30:54,2175-06-03 13:39:54,3.672917,ELECTIVE,SICU,0,0,0,1,0
9,150750,220597,M,UNKNOWN/NOT SPECIFIED,41.790228,Medicaid,2149-11-09 13:06:00,HEMORRHAGIC CVA,2149-11-14 10:15:00,DEAD/EXPIRED,1.0,0.0,...,2149-11-09 13:07:02,2149-11-14 20:52:14,5.323056,EMERGENCY,MICU,1,1,1,1,0
11,194540,229441,F,WHITE,50.148295,Private,2178-04-16 06:18:00,BRAIN MASS,2178-05-11 19:00:00,HOME HEALTH CARE,1.0,0.0,...,2178-04-16 06:19:32,2178-04-17 20:21:05,1.584410,EMERGENCY,SICU,0,0,0,1,0

In [11]:
patients.columns

Index(['gender', 'ethnicity', 'age', 'insurance', 'admittime',
       'diagnosis_at_admission', 'dischtime', 'discharge_location',
       'fullcode_first', 'dnr_first', 'fullcode', 'dnr', 'dnr_first_charttime',
       'timecmo_chart', 'cmo_first', 'cmo_last', 'cmo', 'deathtime', 'intime',
       'outtime', 'los_icu', 'admission_type', 'first_careunit', 'mort_icu',
       'mort_hosp', 'hospital_expire_flag', 'hospstay_seq', 'readmission_30'],
      dtype='object')